@font-face {
	font-family: 'LESLIE';
	src: url('@/assets/fonts/LESLIEB.ttf');
}
@font-face {
	font-family: 'DINPro';
	src: url('@/assets/fonts/DIN-Regular.otf');
}
@font-face {
	font-family: 'YouSheBiaoTiHei';
	src: url('@/assets/fonts/YouSheBiaoTiHei.ttf');
}

.disable_pointer-event {
	pointer-events: none;
}